<div class="content-wrapper centered">
  <ion-img src="assets/virtual-office-icon.png" alt=""></ion-img>
  <ion-text>Welcome to your Virtual Office</ion-text>
  
  <div class="grow flex centered">
    <form
      #enterForm="ngForm"
      (ngSubmit)="onSubmit(enterForm)"
      class="bordered centered ion-padding"
    >
      <div class="ion-margin">
        <ion-input
          placeholder="Enter your Office ID"
          name="roomId"
          autocapitalize="characters"
          autofocus="true"
          clearInput="true"
          enterkeyhint="go"
          maxlength="4"
          minlength="4"
          [(ngModel)]="roomId"
        ></ion-input>
      </div>
      <ion-button type="submit">
        Continue
      </ion-button>
    </form>
  </div>
  
  <ion-text>Or</ion-text>
  <ion-button [routerLink]="['..','create']">Create your own Office</ion-button>
</div>