<div class="flex-col centered float">
  <ion-list lines="full">
    <ion-item-divider class="ion-padding" color="light">
      <div class="centered" style="width: 100%">
        Users in this Office<br /> 
        ({{ roomId }})
      </div>
    </ion-item-divider>
    <ion-item>
      <strong>{{ user?.username }}</strong>
      <ion-icon slot="end" name="star"></ion-icon>
    </ion-item>
    <ion-item *ngFor="let user of users" button="true" detail="true" (click)="onUserClicked(user)">
      {{ user.username }}
      <ion-badge slot="end" color="{{ isConnected(user) ? 'success' : 'warning' }}">&nbsp;</ion-badge>
    </ion-item>
    <ng-container *ngIf="users.length < 4">
      <ion-item *ngFor="let index of [].constructor(4 - users.length)">
      </ion-item>
    </ng-container>
    <ion-item-divider class="ion-padding" color="light" button="true" style="cursor: pointer;" (click)="onLogoutClicked()">
      <ion-text class="ion-text-center" style="width: 100%">Logout</ion-text>
    </ion-item-divider>
  </ion-list>
</div>

<div class="actions flex-col">
  <ion-button color="tertiary" [ngClass]="isInFocusMode ? 'focus' : ''" class="ion-margin" (click)="onFocusToggleClicked()">
    <ion-icon slot="icon-only" name="volume-mute-outline"></ion-icon>
  </ion-button>
  <ion-button color="tertiary" class="ion-margin">
    <ion-icon slot="icon-only" name="chatbox-ellipses-outline"></ion-icon>
  </ion-button>
</div>

<app-simulation></app-simulation>

<app-video-layer></app-video-layer>
