.float {
    position: absolute;
    top: 16px;
    right: 16px;

    ion-badge {
        width: 14px;
        height: 14px;
        border-radius: 20px;
    }
    
    ion-list {
        padding: 0;
    }
}

app-simulation {
    height: 100%;
    width: 100%;
}
