<div class="video-layer">
  <div class="video-wrapper" [style.visibility]="isRemoteStreamDisplayed ? 'visible' : 'hidden'">
    <video id="partner-video"></video>
    <ion-button (click)="onVideoCloseClicked()" fill="clear" *ngIf="isRemoteStreamDisplayed">
      <ion-icon slot="icon-only" name="close-outline" color="light"></ion-icon>
    </ion-button>
  </div>
  <div class="small-window" [style.visibility]="isMyStreamDisplayed ? 'visible' : 'hidden'">
    <div class="video-wrapper">
      <canvas id="debug-canvas" [style.visibility]="isGridDisplayed ? 'visible' : 'hidden'"></canvas>
      <video id="own-video">
      </video>
      <ion-button (click)="onVideoCloseClicked()" fill="clear" *ngIf="isRemoteStreamDisplayed">
        <ion-icon slot="icon-only" name="close-outline" color="light"></ion-icon>
      </ion-button>
    </div>
  </div>
</div>
