
.video-layer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;

    & > * {
        pointer-events: auto
    }
    
    .video-wrapper {
        position: relative;
        height: 0;
        padding-top: 56.25%;
        max-width: 100%;
        width: 100%;
        background-color: black;
        margin: auto;
    }

    .small-window {
        width: max(20vw, 150px);
        height: max(20vw, 150px);
        position: absolute;
        bottom: 16px;
        right: 16px;

        video {
            transform: scaleX(-1);
        }
    }

    video {
        position: absolute;
        bottom: 0;
        right: 0;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
    }

    canvas {
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 100;
    }

    ion-button {
        position: absolute;
        top: 0;
        right: 0;
    }
}
