
.video-layer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;

    & > * {
        pointer-events: auto
    }
    
    .video-wrapper {
        position: relative;
        height: 0;
        padding-top: 56.25%;
        max-width: 100%;
        width: 100%;
        background-color: black;
        margin: auto;
    }

    .small-window {
        width: 240px;
        height: 240px;
        position: absolute;
        bottom: 16px;
        right: 16px;
        border-radius: 200px 200px 0 200px;
        overflow: hidden;
        box-shadow: 8px 3px 25px 0 rgba(255,255,255,0.3);
        border: 14px solid var(--ion-color-tertiary);

        video {
            margin-left: 50%;
            transform: translateX(-50%) scaleX(-1);
            min-height: 100%;
            max-width: inherit !important;
            width: auto;
            right: auto;
        }
    }

    video {
        position: absolute;
        bottom: 0;
        right: 0;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
    }

    canvas {
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 100;
    }

    ion-button {
        position: absolute;
        top: 0;
        right: 0;
    }
}
